body {background-color: blue;
}
#S  {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    opacity: 0.2;
width: 10%

;}
#d {
   
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    opacity: 0.2;
width: 10%

;
}
#V {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    opacity: 0.2;
width: 10%

;
}
#F{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    
width: 10%

;
}
#m{
    width: 21%;
}
#j{
    width: 21%;
}